## Work Profile: .gitconfig
## -------------------------------------------------------------------------------------------------

## User settings.
[user]
  email = sergiitk@google.com
  name  = Sergii Tkachenko

## Core settings.
[core]
  # Disable word wrap for long lines.
  pager = less --chop-long-lines
[init]
  defaultBranch = main

# Include custom per-host overrides.
[include]
  path = ~/.config/git/overrides.gitconfig

## Aliases.
[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  ls-hidden = !git ls-files -v | grep '^[a-z]'

## Main operations.
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
[fetch]
  prune = true

## Config other git tools.
[pager]
  diff = delta
  show = delta
  branch = false
  grep = false
  config = false
[log]
  abbrevCommit = true
  # relative, local, iso[-strict], rfc, short, raw, unix, default[-local], format[-local]:... (man 3 strftime)
  date = relative
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[rerere]
  # https://git-scm.com/book/en/v2/Git-Tools-Rerere
  enabled = true
  autoupdate = true

## Mergetools.
# Configure macOS's opendiff/FileMerge for conflict resolution.
[merge]
  tool = filemerge
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "sublime"]
  cmd = subl -w $MERGED
  trustExitCode = false
[mergetool "filemerge"]
  cmd = opendiff $LOCAL $REMOTE -ancestor $BASE -merge $MERGED 2> /dev/null

## Formatting.
[color]
  # Pass colorMoved color sequences for delta to color by overwriting
  # needed to show moved lines when piping to delta
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-colordiff
  diff = always
[format]
  # confures log, show, whatchanged.
  pretty = cool
[pretty]
  # Add newline at the end: `format` places newlines between commits,
  #`tformat` places newlines after each commit, thus also after the last one.
  cool = tformat:%C(auto,yellow)%h %C(auto,bold blue)%<(18,trunc)%aN%C(auto,red)%d %C(auto,reset)%s %C(auto,green dim)[%cd]%C(auto,reset)
  graph = tformat:%C(auto,yellow)%h%C(auto)%d %C(auto,reset)%s %C(auto,green dim)[%cd]%C(auto,reset)

## Diff setup.
[diff]
  # Colorize moved lines differently
  # https://git-scm.com/docs/git-diff#Documentation/git-diff.txt---color-movedltmodegt
  colorMoved = default
  # colorMoved = plain
  colorMovedWS = allow-indentation-change

  # Join hunks that are close to each other as far as 3 lines apart
  # https://git-scm.com/docs/diff-config#Documentation/diff-config.txt-diffinterHunkContext
  interHunkContext = 3

  # wordRegex
  # Anything between matches is considered whitespace and ignored(!)
  # for the purposes of finding differences.

  # http://stackoverflow.com/questions/8483041/git-color-words-excluding
  # The following expression will make a word be any string of characters
  # and underscore, or any non-whitespace character.
  wordRegex = \\w+|[^[:space:]]
  #wordRegex = [^[:space:]()<>]+

  # default (myers), minimal, patience, histogram
  # algorithm = patience
  # No numbers, underscore.
  # wordRegex = [a-zA-Z]+|[^[:space:]]

## Delta.
#  https://dandavison.github.io/delta/configuration.html
[delta]
  dark = true
  syntax-theme = Coldark-Dark
  features = sergiitk-color-moved-dark
  paging = always
  navigate = true
  hunk-header-style = omit
  file-style = bold yellow "#7299df"
  file-decoration-style = royalblue cornflowerblue ol
  # word-diff-regex = \\w+|[^[:space:]]
  # line-numbers = true

# https://dandavison.github.io/delta/color-moved-support.html
# https://dandavison.github.io/delta/custom-themes.html
[delta "sergiitk-color-moved-dark"]
  # based on "zebra-dark"
  # https://github.com/dandavison/delta/blob/main/themes.gitconfig
  minus-style = syntax "#330f0f"
  minus-emph-style = syntax "#4f1917"
  plus-style = syntax "#0e2f19"
  plus-emph-style = syntax "#174525"
  # "bold purple" and "bold cyan" made ligher and italic
  # Other mappings seem to have no effect
  map-styles = \
    bold purple => syntax italic "#3e5900", \
    bold blue => syntax "#271344", \
    bold cyan => syntax italic "#3e5900", \
    bold yellow => syntax "#222f14"
  zero-style = syntax
  whitespace-error-style = "#aaaaaa"
